<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("Flask MongoDB App") }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Jaro:opsz@6..72&display=swap');
    </style>
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="{{ url_for('index') }}" class="logo">Gulp</a>
            <div class="search-bar">
                <form action="{{ url_for('search') }}" method="GET" class="search-bar">
                    <input type="text" name="query" placeholder="  Find your next favorite meal" class="special-input">
                    <button class="icon" type="submit">
                        <img src="https://www.freeiconspng.com/thumbs/magnifying-glass-icon/magnifying-glass-icon-13.png" alt="Search" style="width: 20px; height: 20px;">
                    </button>
                </form>
            </div>
        </div>
        <div class="nav-right">
            {% if session.get('username') %}
                <span>Welcome, {{ session['username'] }}</span>
                <a href="{{ url_for('logout') }}">Logout</a>
                <div class="dropdown">
                    <button class="menu-button">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/800px-Hamburger_icon.svg.png" alt="Menu" style="width: 25px; height: 25px;" class="icon">
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('insert') }}">Add Restaurant</a>
                        <a href="{{ url_for('update') }}">Add Review</a>
                        <a href="{{ url_for('delete') }}">Delete Restaurant</a>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
                <div class="dropdown">
                    <button class="menu-button">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/800px-Hamburger_icon.svg.png" alt="Menu" style="width: 25px; height: 25px;" class="icon">
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('insert') }}">Add Restaurant</a>
                        <a href="{{ url_for('update') }}">Edit Review</a>
                        <a href="{{ url_for('delete') }}">Delete Restaurant</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
