{% extends "base.html" %}

{% block content %}
<body background="https://res.cloudinary.com/traveltripperweb/image/upload/c_limit,f_auto,h_2500,q_auto,w_2500/v1711386144/vqddvlknujuckt2hhyln.jpg">
<h2>Register</h2>
<form method="POST" action="{{ url_for('register') }}">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Register</button>
</form>
</body>
{% endblock %}
